/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    errorStrategy = 'finish'
    executor = 'slurm'

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: BWA_INDEX {
        memory = 20G
        cpus = 2
        publishDir = [ 
            path: { "${params.outdir}/bwa/index/" },
            mode: params.publish_dir_mode,
            pattern: 'bwa'
        ]
    }

    withName: BWA_ALN {
        memory = 20G
        cpus = 2
        ext.args  = [
            "-n ${params.bwaalnn}",
            "-o ${params.bwaalno}",
            "-l ${params.bwaalnl}"
        ].join(' ').trim()
        publishDir = [ 
            path: { "${params.outdir}/bwa/sai/" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
    }

    withName: BWA_SAMSE {
        publishDir = [
            path: { "${params.outdir}/bwa/bam/" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
    }

    withName: SAMTOOLS_FASTA {
        publishDir = [
            path: { "${params.outdir}/bwa/fasta/" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
    }

    withName: BOWTIE2_BUILD {
        memory = 20G
        cpus = 2
        publishDir = [ 
            path: { "${params.outdir}/bowtie2/index/" },
            mode: params.publish_dir_mode,
            pattern: 'bowtie2'
        ]
    }

    withName: BOWTIE2_ALIGN {
        memory = 20G
        cpus = 2
        ext.args = [
            "-N ${params.mapping_bowtie2_n}",
            "-L ${params.mapping_bowtie2_l}",
            "--trim5 ${params.mapping_bowtie2_trim5}",
            "--trim3 ${params.mapping_bowtie2_trim3}"
        ].join(' ').trim()
        publishDir = [ 
            path: { "${params.outdir}/bowtie2/bam/" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
    }

    withName: SAMTOOLS_FASTA_BT2 {
        publishDir = [
            path: { "${params.outdir}/bowtie2/fasta/" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
    }

    withName: BLAST_BLASTN {
        memory = 2G
        cpus = 1
        publishDir = [
            path: { "${params.outdir}/blastn/txt/" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
    }

    withName: STANDARD_MEGAN {
        memory = 2G
        cpus = 1
        ext.args = [
            "--useCompression",
            "--minSupportPercent ${params.minSupportPercent}",
            "--minPercentIdentity ${params.minPercentIdentity}",
            "--lcaAlgorithm ${params.lcaAlgorithm}",
            "--lcaCoveragePercent ${params.lcaCoveragePercent}"
        ].join(' ').trim()
        publishDir = [ 
            path: { "${params.outdir}/megan/" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
    }

    withName: CUSTOM_MEGAN {
        memory = 2G
        cpus = 1
        ext.megan_args = [
            "--useCompression",
            "--minSupportPercent ${params.minSupportPercent}",
            "--minPercentIdentity ${params.minPercentIdentity}",
            "--lcaAlgorithm ${params.lcaAlgorithm}",
            "--lcaCoveragePercent ${params.lcaCoveragePercent}"
        ].join(' ').trim()
        publishDir = [ 
            path: { "${params.outdir}/megan/" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
    }

    withName: RMA6_TO_FASTA {
        publishDir = [
            path: { "${params.outdir}/megan/fasta/" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
    }

    withName: MAPDAMAGE2 {
        publishDir = [
            path: { "${params.outdir}/mapdamage/" },
            mode: params.publish_dir_mode,
            pattern: '*'
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
